<!DOCTYPE html>
<html>
  <head>
    <title>Private Events - Privateers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper m-3">
      <aside class="ps-3 pe-3 text-center border-end">
        <h1>Privateers</h1>
        <nav class="nav flex-column">
          <%= link_to "Homepage", root_path, class: "nav-link" %>
          <%= link_to "Create Event", new_event_path, class: "nav-link" %>
          <% if signed_in? %>
            <%= link_to "Your profile", current_user, class: "nav-link" %>
            <%= link_to "Sign out", destroy_user_session_path, class: "nav-link", method: "delete" %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          <% end %>
        </nav>
      </aside>
      <main class="ms-4">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
